* {
    box-sizing:border-box;
  }
  #wrapper {
    width:600px;
    height: 300px;
    margin:0 auto;
  }
  h2 {
    text-align:center;
  }
  #quote {
    background-color:#007acc;
    border:none; 
    padding:30px 40px;
    color:white;
    text-align:center;
  }